.table{
    .btn_table{
        padding: 10px;
        background-color: mediumorchid;
        &:hover{
            background-color: magenta;
            color: white;
            cursor: pointer;
        }

    }

    
   
}